[Unit]
Description=curveball-realtime the realtime server for curveball
After=network.target

[Service]
Environment=REDIS_HOST=curveball-cluster.vsuptq.0001.usw2.cache.amazonaws.com
Environment=REDIS_PORT=6379
Environment=NODE_ENV=production
Enironment=SSL_CERT_PATH=/etc/ssl/private/cert.pem
Environment=SSL_CERT_KEY=/etc/ssl/private/key.pem
Environment=JWT_SECRET=sEcReT
Environment=INTERNAL_SECRET=VerySecret
Type=simple
User=ec2-user
ExecStart=/usr/bin/npm run start --prefix ~/realtime > /var/log/curveball-realtime.log
Restart=on-failure

[Install]
WantedBy=multi-user.target