[Unit]
Description=curveball-realtime the realtime server for curveball
After=network.target

[Service]
Environment=REDIS_HOST=curveball-cluster.vsuptq.0001.usw2.cache.amazonaws.com
Environment=REDIS_PORT=6379
Environment=NODE_ENV=production
Environment=JWT_SECRET=sEcReT
Environment=INTERNAL_SECRET=VerySecret
Environment=ALLOWED_ORIGINS=foo
Environment=SSL_KEY=/home/ec2-user/realtime/etc/key.pem
Environment=SSL_CERT=/home/ec2-user/realtime/etc/server.crt
Type=simple
ExecStart=/usr/bin/npm run start:prod --prefix /home/ec2-user/realtime
Restart=on-failure

[Install]
WantedBy=multi-user.target